.header{
  background: #2c6e03;

  padding: 0.938em;
  display: flex;
  flex-direction: row;
  width: 100%;
  &-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #fff;
  }
}
